a { 
    color: #2abbb0;
}

a:visited { 
    color: #2abbb0;
}

a:hover { 
    color: #25a89e;
    text-decoration: none; 
}

a:active a:focus { 
    color: #2abbb0;
    text-decoration: none; 
}

.sidebar {
    width: 250px;
}

.title { 
    font-size: 70px;
    color: orange;
    font-family: 'Satisfy', cursive;
}

body { 
    font-family: 'Noto Sans', sans-serif;
}

.home-page { 
    text-align: center;
}

.subtitle { 
    font-size: 30px; 
    font-style: italic;
}

.news-headline { 
    font-weight: bold;
    letter-spacing: 1px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.news-headline:hover { 
    color: #25a89e;
    text-decoration: underline; 
}

.news-metadata { 
    font-size: 10px;
    margin-top: -20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.news-preview { 
    font-size: 12px;
    margin-top: -10px;
}

.charity-name { 
    
}

.charity-metadata { 
    margin-top: -20px; 
}

.charity-description { 
    font-size: 14px; 
    margin-top: -10px;
}

.badge-personal { 
    background-color: orange; 
}

.badge-community { 
    background-color: yellow; 
}

.create-account { 
    width: 400px;
    text-align: center;
    margin: 0 auto;
}

.create-account input { 
    height: 40px; 
    margin-bottom: 13px; 
}

.create-account-label { 
    float: left; 
    font-weight: bold;
    margin-bottom: 3px; 
}

.create-account-error { 
    border: 1px red solid;    
}

/*.navbar-fixed-top {
    background-color: black;
    font-size: 18px;
    color: white;
    margin-bottom: none;
    vertical-align: middle;
}

.navbar-inverse .navbar-brand {
    color: #FFFFFF;
}

.navbar-inverse .navbar-link {
    color: #FFFFFF;
}

.navbar-logo {
    margin: 6px;
    display: inline-block;
}

.navbar-nav > li { 
    padding-top: 12px;
    font-size: 16px;
}
*/